<form>
  <div class="form-group">
    <label for="circo">Votre circonscription</label>
    <app-circo-search (select)="onCircoSelect($event)" *ngIf="!candidat.circo"></app-circo-search>
    <div *ngIf="candidat.circo" class="deletable-input">
      <input type="text" name="circo" readonly="readonly" [ngModel]="candidat.circo" required /><span class="delete icon"
        (click)="candidat.circo = ''"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="candidat">Vous êtes ...</label>
    <app-candidat-search [circoId]="candidat.circo" (select)="onCandidatSelect($event)" *ngIf="!candidat.candidat"></app-candidat-search>
    <div *ngIf="candidat.candidat" class="deletable-input">
      <input type="text" name="candidat" readonly="readonly" [ngModel]="candidat.candidat.gsx$id.$t" required /><span class="delete icon"
        (click)="candidat.candidat = ''"></span>
    </div>
  </div>
  <button type="submit" class="button">Submit</button>
</form>