.card {
    border-radius: 5px;
    background-color: #d51317;
    color: #fff;
    text-align: justify;
    font-size: large;
    font-weight: bold;
    padding : 30px;
    margin: 6em auto;

    .author {
        text-align: right;
        padding-right: 20%;
    }
}