<div>
  <div class="card beta">
    <h2>Zone beta - temporaire</h2>
    <p>
      Sondage pour choisir le nom de la campagne : <a href="https://goo.gl/forms/EgVNsmlHOfc4fT283">https://goo.gl/forms/EgVNsmlHOfc4fT283</a>
    </p>
    <h3>TODO list</h3>
    <p>
      Les éléments suivant sont en cours de réalisation, et seront disponibles / corrigés dans la version finale.
    </p>
    <h4>formulaire</h4>
    <ul>
      <li>formulaire d'inscription pour les militants</li>
      <li>gestion des erreurs</li>
    </ul>
    <h4>fiches candidat</h4>
    <ul>
      <li>amélioration des performances</li>
      <li>afficher le logo "je m'engage" si le candidat a signé la charte</li>
      <li>création d'un maximum de fiches</li>
    </ul>
  </div>
  <div class="card">
    <h2>
      LabelGauche.fr vous offre :
    </h2>
    <ul>
      <li>Un <a routerLink="/candidat">espace collaboratif</a> pour partager et retrouver des informations sur tous les candidats
        de gauche aux prochaines élections françaises.</li>
      <li>Un <a routerLink="/articles/charte">"label citoyen"</a> permettant d'identifier très clairement les candidat s'engageant
        pour les valeurs de la gauche.</li>
      <li>Un <a routerLink="/milit/home">espace de coordination</a> pour les militants de la gauche françaises démocratique et
        citoyenne.
      </li>
      <li>Une <a routerLink="/articles/principe">association</a> de fait totalement indépendante, à fortiori de tout parti politique.</li>
    </ul>
  </div>

</div>