.card {
    border-radius: 5px;
    background-color: #d51317;
    color: #fff;
    text-align: justify;
    font-size: large;
    font-weight: bold;
    padding : 30px;
    margin: 6em auto;

    .author {
        text-align: right;
        padding-right: 20%;
    }
}

input[type="text"] {
    background-image: url("/assets/search-icon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    width: calc(100% - 60px);
    padding: 12px 20px 12px 40px;
}