<div>
  <div class="card">
    <h2>
      Engagees.fr vous propose :
    </h2>
    <ul>
      <li>Un <a routerLink="/candidat">espace collaboratif</a> pour partager et retrouver des informations sur tous les candidats
        de gauche aux prochaines élections françaises.</li>
      <li>Un <a routerLink="/articles/charte">"label citoyen"</a> permettant d'identifier très clairement les candidat s'engageant
        pour les valeurs de la gauche.</li>
      <li>Un <a routerLink="/milit/home">espace de coordination</a> pour les militants de la gauche françaises démocratique et
        citoyenne.
      </li>
      <li>Une <a routerLink="/articles/principe">association</a> de fait totalement indépendante, à fortiori de tout parti politique.</li>
    </ul>
  </div>

</div>