.wrapper {
    position: relative;
    min-height: 200px;
    padding: 1em 1em 1em calc(100px + 3em) ;
}

h3 {
    text-align: center;
    text-align: center;
}

.picture {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 100px;
    text-align: center;
}

a {
    text-decoration: none;

    .button {
        text-align: left;
        padding: 0.5em 1em;
    }
}

.portrait, .parti {
    width: 100%;
}
