.wrapper {
    position: relative;
    min-height: 200px;
    display: flex;
    padding: 0px;
}

h3 {
    text-align: center;
}

.picture {
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 120px;
}

.content {
    flex: 1;
    padding: 30px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

a {
    text-decoration: none;

    .button {
        text-align: left;
        padding: 0.5em 1em;
    }
}

.portrait, .parti {
    width: 100%;
}

.button-wrapper.edit {
    float: right;
    .button.round{
        margin: 0;
    }
}

.button-wrapper.report {
    float: left;
}

.no-link {
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .content {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .button-wrapper.edit {
        float: none;
        position: absolute;
        right: 20px;
        top: 60px;
    }
    
    .card.wrapper{
        flex-direction: column;
        
        .no-link,
        h3{
            text-align: left;
        }
        
        .picture{
            width: auto;

            .parti,
            .portrait{
                height: 80px;
                width: auto;
            }
        }
    }
}