<div class="article">
  <h2>Charte "Label Gauche" pour les législative</h2>
  <p class="note">
    Cette charte est en cours de rédaction.
  </p>
  <p>
    En signant cette charte, moi, candidat aux élections législatives de la république française en 
    cette année 2017, m'engage à :
  </p>
  <h3>Défendre les droits de mes électeurs</h3>
  <p>
    Le nouveau président de la République Français, Monsieur Emmanuel Macron, a fait un certain nombre
    de déclarations succeptibles, à raison, d'inquiéter les contribuables :
  </p>
  <ul>
    <li>régressions du droit du travail</li>
    <li>restriction des droits à la protection sociale</li>
  </ul>
  <p>
    En signant la présente charte, je m'engage, en tant que député, à voter contre toute loi pouvant aller dans ce sens.
  </p>
  <p>
    De ce fait, je déclare refuser de m'inscrire dans une éventuelle "majorité parlementaire" de la "République En Marche", qui pourrait impliquer
    de respecter certaines consignes de votes contraires aux engagements de la présente charte, et revendique de voter systématiquement dans le respect
    de mon programme, de mes discours de campagne, et de mes valeurs ainsi que celles de mes alliés pour cette election.
  </p>
  <h3>Travailler à l'union de la gauche dans ma circonscription</h3>
  <p>
    Cette année 2017 aura connu un grand nombre de bouleversements politiques, qui ont amené à une dispersion des candidatures de gauche.
  </p>
  <p>
    Conscient du fait qu'aucune victoire ne pourra être possible sans une union large et concrête, fruit de la concertation entre le plus grand
    nombre possible de candidats, je m'engage à mener toutes les actions en mon pouvoir pour faciliter une telle union dans ma circonscription, notamment
    en rencontrant les différents candidats de gauche afin de permettre une négociation de notre programme et de nos positions, afin d'arriver à un accord
    collectif qui puisse emporter l'adhésion de chacun.
  </p>
  <p>
    Conscient de la nécessité du respect mutuel dans le cadre de telles négociation, j'affirme par ailleurs être conscient que le "Label Gauche" n'est ni un
    parti, ni une plateforme de campagne, et que, de ce fait, chaque alliance se devra d'être clairement présentée sur le matériel de campagne (affiches, tracts, etc ...).
    En d'autres termes, aucune alliance ne pourra entrainer le refus d'un allié du nom de son parti, et de son affirmation.
  </p>
  <p>
    De même, aucune alliance ne pourra amener à un engagement inconditionnel envers de futures directives de vote de l'élu.
  </p>
  <h3>Oeuvrer pour l'écologie</h3>
  <p>
    Les reconnaissant comme valeurs communes et fondamentales de la gauche républicaine française, je m'engage au respect des idéaux écologistes et solidaires. 
  </p>
  <p>
    De ce fait, je m'engage à défendre :
  </p>
  <ul>
    <li>l'usage des énergies renouvelables, et pour ce faire, une sortie progressive des énergies fossiles et nucléaires</li>
    <li>la protection de la biodiversité</li>
    <li>la limitation voir l'arrêt des substances indusctielles toxiques, ceci comprenant le diesel et les différents perturbateurs endocriniens, parmis lesquels les pesticides</li>
  </ul>
  <h3>Oeuvrer pour la solidarité</h3>
  <p>
    Dans le respect de nos valeurs de solidarités, je m'engage à défendre :
  </p>
  <ul>
    <li>le respect des droits de l'homme tels que définis par la DUDH</li>
    <li>l'acceuil et la protection des réfugiés politiques</li>
    <li>l'Etat providence, et donc la non régression des droits sociaux (chomage, retraite, minimum sociaux, couverture santé, etc...)</li>
    <li>les services publics, et donc la non régression de leurs budget et effectifs</li>
    <li>la protection des droits du travailleur, notamment sa capacité à recourir au jugement des prud'homme sans contraintes, et de bénéficier d'un jugement honnête et juste</li>
  </ul>

  <h2>Signer la charte</h2>
  <p>
    Pour vous engager, il vous suffit de nous envoyer, par mail, le scan de la mention "Je m'engage" avec votre signature.
  </p>
</div>