.list-wrapper {
    position: relative;
}

.add-wrapper {
   position: fixed;
   top: 100px;
   right: 0;
   margin: 0 2em;
}

@media screen and (max-width: 1024px) {
    .add-wrapper {
        position: initial;
        text-align: right;
    }

    .round {
        top: 65px;
        right: 20px;
        z-index: 1000;
    }
}