<div class="list-wrapper">
  <p>Pour ajouter un candidat abscent de cette liste, clickez sur le boutton "+" en haut à droite.
    Merci de lire notre <a routerLink="/articles/principe">"A Propos"</a> auparavant afin de déterminer si le candidat en question a lieu d'être listé sur ce site.
  </p>
  <div class="add-wrapper">
    <a class="button round" routerLink="/circo/candidat/add">+</a>
  </div>
  <app-candidat-card *ngFor="let candidat of candidats" [candidat]="candidat" (click)="onSelect(candidat)">
  </app-candidat-card>
  <app-candidat-card *ngIf="candidats.length < 1" [empty]="true">
  </app-candidat-card>
</div>