<header>
  <svg (click)="menu = !menu" aria-hidden="true" class="burger" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 17 15">
    <path d="M0 0v3h17V0H0zm0 9h17V6H0v3zm0 6h17v-3H0v3z"></path>
  </svg>
  <a routerLink="/home" class="title-burger">
    <span class="word-1">Solidaires</span>
    <span class="word-2">Ecologistes</span>
    <span class="word-3">Engagé-e-s !</span>
  </a>

  <div class="menu" [class.active]="menu"  (click)="closeMenu()">
    <div class="title">
      <span class="word-1">Solidaires</span>
      <span class="word-2">Ecologistes</span>
      <span class="word-3">Engagé-e-s !</span>
    </div>
    
    <a class="menu-home" routerLink="/home" [routerLinkActive]="['active']">
      Accueil
    </a>
    <a href="#" [routerLink]="['/articles', 'principe']" [routerLinkActive]="['active']" (click)="closeMenu()"> 
      A propos
    </a>
    <a href="#" [routerLink]="['/candidat']" [routerLinkActive]="['active']" (click)="closeMenu()"> 
      Candidats
    </a>
    <a href="#" [routerLink]="['/articles', 'charte']" [routerLinkActive]="['active']" (click)="closeMenu()"> 
      La charte
    </a>
    <a class="button" href="#" [routerLink]="['/milit', 'home']" [routerLinkActive]="['active']" (click)="closeMenu()">
      Vous engager
    </a>
  </div>
</header>