
header {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.5em;
    font-size: 12px;
}

.menu {
    display: inline-block;
}

.burger {
    width: 50px;
    display: none;
}

.button {
    position: absolute;
    right: 20px;
    top: 15px;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)
}

a {
    text-align: center;
    margin: 0px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: large;
    padding : 0.5em 1em;
}

.title {
    font-size: x-large;
}


@media only screen and (max-width : 1024px) {
    .burger {
        display: inline-block
    }

    .title {
        width: calc(100% - 120px - 1em);
    }

    .menu {
        display: none;

        &.active {
            display: block;
        }

        a {
            display: block;
        }

        .button {
            position: initial;
        }
    }
}
