

input[type="text"] {
    background-image: url("/assets/search-icon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    width: calc(100% - 60px);
    padding: 12px 20px 12px 40px;
}

.rslt {
    text-align: center;
    font-weight: bold;

    li {
        background-color: rgba(126,183,18,.64);
    }

    li:hover {
        background-color: rgba(126,183,18,.88);
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}