<div class="article">
  <h2>Le principe</h2>
  <div class="content">
    <p>
      Lagaucheunie.fr est une initiative citoyenne, indépendante de tout parti, destinée
      à faciliter les unions de gauche aux élections, et à leur apporter une meilleure lisibilité.
    </p>
    <p>
      Pour se faire, nous offrons :
    </p>
    <ul>
      <li>une charte pour les candidats, associée à un suivit militant de son respect en cas d'élection de ce dernier</li>
      <li>un outil permettant de collaborativement publier des informations relatives aux candidats de gauche aux prochaines élections</li>
      <li>une aide aux militants désireux de contribuer à l'union de la gauche nationalement ou dans leur circonscription</li>
    </ul>
    <h3>Site web</h3>
    <p>
      Ce site web lui même a été lancé "en urgence" pour répondre à cette problématique pour les élections législatives 2017.
      Il est donc encore au stade embryonnaire, et évoluera constament au cours de cette année. Bien entendu, toute contribution sera la bienvenue.
      Pour se faire, vous pouvez tout simplement faire une pull request ou soumettre un issue sur <a href="https://github.com/noelmace/gu">notre projet GitHub</a>, ou cliquer sur le
      bouton "vous engager" pour aller plus loin.
    </p>
  </div>
</div>
