/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

/*default red : d51317
default green : 7eb712*/

/* COLOR */
$base-color: #d51317;
$base-color-light: #e1595C;
$secondary-color: #7eb712;
$secondary-color-strong: #5e9702;
$secondary-color-light: #a9d067;
$light-grey: #f2f8e7;

$body-bg: none;
$field-valid: $secondary-color;
$field-invalid: $base-color;

$button-bg-hover: $secondary-color-strong;
$button-bg: $secondary-color;
$button-text: #fff;

$circo-rslt-bg-hover: $secondary-color;
$circo-rslt-bg: $secondary-color-light;
$circo-rslt-text: #fff;

$card-bg: $light-grey;

$card-strong-bg:$base-color;
$card-strong-text:#fff;

$link-color: $base-color;
$link-color-hover: $base-color-light;

$candidat-card-bg: $light-grey;
$candidat-card-text: $secondary-color-strong;
$candidat-card-picture-bg: $base-color;

$article-note-text: $base-color;
$article-border-b: $base-color;

$header-bg: $base-color;
$header-text: #fff;
$header-a-bg-hover: $base-color-light;

$input-border:#ccc;
$input-bg:rgba(0,0,0,0.12);

body{
    background-color: $body-bg;
}

header {
    box-shadow: 0 1px 20px -1px $header-bg;
    background-color: $header-bg;
    color: $header-text;

    .burger {
        fill: $header-text;
    }

    a{
        color: $header-text;
        &:hover:not(.button) {
            background-color: $header-a-bg-hover;
        }
    }
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        color: $link-color-hover;
    }
}


.circo{
    .rslt {

        li {
            background-color: $circo-rslt-bg;
        }

        li:hover {
            background-color: $circo-rslt-bg-hover
        }

        a {
            color: $circo-rslt-text;
        }
    }
}

.card {
    background-color: $card-bg;
    
    &.wrapper {
        background-color: $candidat-card-bg;
    }

    &.strong {
        background-color: $card-strong-bg;
        color: $card-strong-text;
    }
    .picture {
        background-color: $candidat-card-picture-bg;
    }
}


.article{
    .note {
        color: $article-note-text;
    }

    h2 {
        border-bottom: 2px solid $article-border-b;
    }

    h3 {
        border-bottom: 1px solid $article-border-b;
    }
}


.button {
    color: $button-text;
    background-color: $button-bg;

    &:hover {
        background-color:$button-bg-hover;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $field-valid;
}

.ng-invalid:not(form)  {
  border-left: 5px solid $field-invalid;
}

input[type="text"] {
    border: 2px solid $input-border;
}

input[readonly] {
    background-color: $input-bg;

    .icon {
        background-color: $input-bg;
    }
}

.button {
    text-align: center;
    font-weight: bold;
    cursor:pointer;
    margin: 0.5em 0;
    padding: 1em 1em;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    text-decoration: none;
 }

.card {
    border-radius: 5px;
    text-align: justify;
    word-wrap: break-word;
    padding : 30px;
    margin: 1em auto;
    &[disabled], &.disabled {
        background-color: rgba(0, 0, 0, .25);
    }
}


.no-list {
    list-style: none;
    padding: 0;
}

.article {

    h2 {
        margin-bottom: 3em;
        margin-top: 3em;
    }

    h3 {
        margin-top: 2em;
        margin-left: 0em;
        padding-right: 5em;
        margin-bottom: 1em;
        display: inline-block;
    }

    .content {
        text-align: justify;
    }
}

button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.form-control:focus {
    border-color: #66afe9;
    border-left: 5px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.form-control.ng-valid[required], .form-control.ng-valid.required  {
  border-left: 5px solid rgba(126, 183, 18, 1);
}

.form-control.ng-invalid:not(form)  {
  border-left: 5px solid rgba(213, 19, 23, 1);
}

input.search {
    background-image: url("/assets/search-icon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
}

input[type="text"], input[type="tel"], select {
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    padding: 12px 20px 12px 40px;
    margin: 0;
}


input[readonly] {
    background-color: rgba(0,0,0,0.12);

    .icon {
        background-color: rgba(0,0,0,0.12);
    }
}

.icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.delete.icon {
    background: url('/assets/icons/cancel_black.svg') no-repeat right top;
}

.deletable-input {

    position: relative;

    input[type="text"], input[type="tel"] {
        padding-right: 43px;
        display: block;
        width: calc(100% - 90px) !important;
        height: 100%;
    }

    .delete {
        position: absolute;
        display: block;
        top: 12px;
        right: 10px;
    }
}

.form-group {
    margin-bottom: 15px;
}

.input-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #d51317;
}

.round {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    padding: 0;
    box-shadow: none;
}

