/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');


/* COLOR */
$field-valid: #7eb712;
$field-invalid: #d51317;

$button-bg-hover: #5e9702;
$button-bg: #7eb712;
$button-text: #fff;

$circo-rslt-bg-hover: #7eb712;
$circo-rslt-bg: #a9d067;
$circo-rslt-text: #fff;

$card-bg:#d51317;
$card-text:#fff;

$candidat-card-bg:#d51317;
$candidat-card-text:#fff;

$article-note-text: #d51317;
$article-border-b: #d51317;

$header-bg: #d51317;
$header-text: #fff;
$header-a-bg-hover: rgba(255,255,255,.12);

$input-border:#ccc;
$input-bg:rgba(0,0,0,0.12);

header {
    box-shadow: 0 1px 20px -1px $header-bg;
    background-color: $header-bg;
    color: $header-text;

    .burger {
        fill: $header-text;
    }

    a{
        color: $header-text;
        &:hover:not(.button) {
            background-color: $header-a-bg-hover;
        }
    }
}


.circo{
    .rslt {

        li {
            background-color: $circo-rslt-bg;
        }

        li:hover {
            background-color: $circo-rslt-bg-hover
        }

        a {
            color: $circo-rslt-text;
        }
    }
}

.card {
    background-color: $card-bg;
    color: $card-text;
    
    &.wrapper {
        background-color: $candidat-card-bg;
        color: $candidat-card-text;
    }
}

.article{
    .note {
        color: $article-note-text;
    }

    h2 {
        border-bottom: 2px solid $article-border-b;
    }

    h3 {
        border-bottom: 1px solid $article-border-b;
    }
}


.button {
    color: $button-text;
    background-color: $button-bg;

    &:hover {
        background-color:$button-bg-hover;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $field-valid;
}

.ng-invalid:not(form)  {
  border-left: 5px solid $field-invalid;
}

input[type="text"] {
    border: 2px solid $input-border;
}

input[readonly] {
    background-color: $input-bg;

    .icon {
        background-color: $input-bg;
    }
}

.button {
    text-align: center;
    font-weight: bold;
    cursor:pointer;
    margin: 0.5em 0;
    padding: 1em 1em;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    text-decoration: none;
 }

.card {
    border-radius: 5px;
    text-align: justify;
    padding : 30px;
    margin: 1em auto;
}


.no-list {
    list-style: none;
    padding: 0;
}

.article {

    h2 {
        margin-bottom: 3em;
        margin-top: 3em;
    }

    h3 {
        margin-top: 2em;
        margin-left: 0em;
        padding-right: 5em;
        margin-bottom: 1em;
        display: inline-block;
    }

    .content {
        text-align: justify;
    }
}

button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}


input.search {
    background-image: url("/assets/search-icon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
}

input[type="text"] {
    border-radius: 4px;
    font-size: 16px;
    display: block;
    padding: 12px 20px 12px 40px;
}

.deletable-input {

    position: relative;

    input[type="text"] {
        padding-right: 16px;
        display: block;
        width: calc(100% - 60px);
        height: 100%;
    }

    .delete {
        position: absolute;
        display: block;
        top: 12px;
        right: 10px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        cursor: pointer;
        background: url('/assets/icons/cancel_black.svg') no-repeat right top;
    }
}

.form-group {
    margin-bottom: 15px;
}

