<div class="article">
  <h2>Espace militant</h2>
  <p class="note">
    Cette page est actuellement en cours de construction. Un formulaire de contact, et d'autres outils, y seront progressivement
    (et rapidement) ajoutés.
  </p>
  <p>
    Pour contribuer, nous vous invitons à rejoindre dans un premier temps notre <a href="https://groups.google.com/forum/#!forum/engage-e-s"
      target="_blank">goupe Google</a>. Vous y retrouverez les différentes informations pour rejoindre nos autres outils de
    communication, contribuer, etc ...
  </p>
  <p>
    Nous sommes également des défenseurs de l'Open Source. Vous pourrez donc trouver les sources de ce projet 
    <a href="https://github.com/engage-e-s/engage-e-s.github.io" target="_blank">sur Github</a>, et 
    <a href="https://github.com/engage-e-s/engage-e-s.github.io/issues" target="_blank">ouvrir une issue</a> si vous avez trouvé le moindre bug, 
    ou voulez proposer une nouvelle fonctionnalité.
  </p>
  <p>
    Enfin, pour toute autre question, vous pouvez nous contacter par mail à l'adresse suivante : contact(arobase)engage-e-s(point)fr
  </p>
</div>